[submodule "AndroidModLoader"]
    path = caminho/para/a/pasta
    url = https://github.com/RusJJ/AndroidModLoader.git

[submodule "SAUtils"]
    path = caminho/para/a/pasta
    url = https://github.com/AndroidModLoader/SAUtils.git
