[submodule "AndroidModLoader"]
    path = AndroidModLoader
    url = https://github.com/RusJJ/AndroidModLoader.git

[submodule "SAUtils"]
    path = SAUtils
    url = https://github.com/AndroidModLoader/SAUtils.git

[submodule "ARMPatch"]
	path = ARMPatch
	url = https://github.com/RusJJ/ARMPatch.git

[submodule "AML_PrecompiledLibs"]
	path = AML_PrecompiledLibs
	url = https://github.com/RusJJ/AML_PrecompiledLibs.git
