[submodule "AndroidModLoader"]
    path = AndroidModLoader
    url = https://github.com/RusJJ/AndroidModLoader.git

[submodule "SAUtils"]
    path = SAUtils
    url = https://github.com/AndroidModLoader/SAUtils.git
